{% extends 'base.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block content %}



<div class="container">
    <div class="row">
        <form id="product-form" class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{form|bootstrap}}

            <div class="form-group text-right">

                {% if task_create %}
                <button class="btn btn-info" type="submit" value="save" name="save" >Create Task</button>
                {% elif task_update %}
                <button class="btn btn-info" type="submit" value="save" name="save" >Update Task</button>
                {% elif todolist_create %}
                <button class="btn btn-info" type="submit" value="save" name="save" >Create ToDoList</button>
                {% elif todolist_update %}
                <button class="btn btn-info" type="submit" value="save" name="save" >Update ToDoList</button>
                {% endif %}
            </div>

        </form>
    </div>
</div>
{% endblock %}html>