{% extends 'base.html' %}

{% load i18n %}
{% block content %}

    <div class="row">
        <div class="col-sm-12">

            <h1>Django Project</h1>
            <h2>Laco Smokowski</h2>
            <p>
                Przygotować listę Todo tak by można było:
		-dodawać nowe zadania<br>
		-odznaczać zrealizowane zadania<br>
<br>
	Co musi być w projekcie:<br>
		-modele z automatycznie dodawanymi datami tworzenia i aktualizacji<br>
		-panel administratora (django admin)<br>
		-django template<br>
            </p>
        </div>
    </div>

{% endblock %}
